<!-- main.hbs-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>World Wide Library</title>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    {{#each jsscripts}}
    <script src="/static/{{this}}"></script>
    {{/each}}
</head>
<body>

    {{{body}}}

</body>
</html>