 <a href="/">Homepage</a> <button type="button" name="login">Login</button>
    <h1>Hello, John Doe!</h1>
    <fieldset>
        <h2>Here are your borrowed books:</h2>
        <table>
            <thead>
                <tr>
                    <th>ISBN</th>
                    <th>Title</th>
                    <th>Checkout Date</th>
                    <th>Return Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <td>9787543321724</td>
                <td>Catcher in the Rye</td>
                <td>2021-07-26</td>
                <td>2021-08-09</td>
                </tr>
            </tbody>
        </table>
    </fieldset>
    <div>
        <h3>You have reserved room number: 102</h3>
    </div>